# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto enp1s0
allow-hotplug enp1s0
iface enp1s0 inet static
address {{ ansible_host }}
netmask 255.255.254.0
gateway 172.16.36.1
